<h1>ALERGIAS</h1>
<div class="container mt-5">
  <div class="row">
    <div class="col mx-auto table-responsive">
      <table *ngIf="peticionAlergias else espera" class="table table-striped table-dark">
        <thead>
          <tr class="align-middle">
            <th class="text-center px-5">#</th>
            <th>Nombre</th>
            <th class="text-center"><button [routerLink]="['/alergias/add']" class="btn btn-primary">Añadir Alergia</button></th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-middle" *ngFor="let alergia of alergias">
            <th class="text-center px-5">{{alergia.id}}</th>
            <td>{{alergia.nombre}}</td>
            <td class="d-flex flex-row justify-content-around w-100"><button [routerLink]="['/alergias', alergia.id]" class="btn btn-primary">Editar Alergia</button><button (click)="eliminar(alergia.id)" class="btn btn-primary">Eliminar Alergia</button></td>
          </tr>
          <tr *ngIf="peticionAlergias && alergias == null">
            <th colspan="3">No hay datos</th>
          </tr>
        </tbody>
      </table>
      <ng-template #espera>Esperando datos...</ng-template>
    </div>
  </div>
</div>
