<h2 *ngIf="!peticionEnviada" >Elige tu orden</h2>

<!-- Tabla exterior izquierda -->

<div *ngIf="!peticionEnviada" class="container-fluid h-100 d-flex flex-column flex-md-row justify-content-around mt-5 align-items-center align-items-md-start">
  <table class="tabla-ext table table-dark table-hover w-50 mx-left">
    <!-- Titulo -->
    <thead>
      <tr class="tit">
        <th colspan="4">Elige tus platos</th>
      </tr>
    </thead>
    <!-- Entrante -->
    <tbody>
      <tr>
        <a class="btn btn-dark d-flex" data-bs-toggle="collapse" href="#multiColapseEntrante" role="button" aria-expanded="false" aria-controls="multiColapseEntrante">
          Entrante <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
          <div class="collapse multi-collapse" id="multiColapseEntrante">
            <div class="card card-body bg-secondary">
              <!-- Tabla interior -->
              <table class="table table-dark">
                <tr class="colum bg-dark">
                  <th></th>
                  <th>Nombre</th>
                  <th>Selección</th>
                </tr>
                <tr class="colum bg-secondary" *ngFor="let plato of platos">
                  <td *ngIf="plato.categoria.id == 1"><img src="../../assets/imagenes/imagen1.jpg" width="50px" height="50px"></td>
                  <td *ngIf="plato.categoria.id == 1">{{plato.nombre}}</td>
                  <td *ngIf="plato.categoria.id == 1">
                    <input class="form-check-input" [(ngModel)]="formCheckbox[plato.id-1]" (ngModelChange)="addPlato(plato)" type="checkbox" value="{{plato.nombre}}">
                  </td>
                </tr>
              </table>
          </div>
          </div>
      </tr>
      <!-- Primer plato -->
      <tr>
        <a class="btn btn-dark d-flex" data-bs-toggle="collapse" href="#multiCollapsePrimerPlato" role="button" aria-expanded="false" aria-controls="multiCollapsePrimerPlato">
          Primer plato <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
          <div class="collapse multi-collapse" id="multiCollapsePrimerPlato">
            <div class="card card-body bg-secondary">
              <!-- Tabla interior -->
              <table class="table table-dark table-hover">
                <tr class="colum bg-dark">
                  <th></th>
                  <th>Nombre</th>
                  <th>Selección</th>
                </tr>
                <tr class="colum bg-secondary" *ngFor="let plato of platos">
                  <td *ngIf="plato.categoria.id == 2"><img src="../../assets/imagenes/imagen1.jpg" width="50px" height="50px"></td>
                  <td *ngIf="plato.categoria.id == 2">{{plato.nombre}}</td>
                  <td *ngIf="plato.categoria.id == 2">
                    <input class="form-check-input" [(ngModel)]="formCheckbox[plato.id-1]" (ngModelChange)="addPlato(plato)" type="checkbox" value="{{plato.nombre}}">
                  </td>
                </tr>
              </table>
            </div>
          </div>
      </tr>
      <!-- Segundo plato -->
      <tr>
        <a class="btn btn-dark d-flex" data-bs-toggle="collapse" href="#multiCollapseSegundoPlato" role="button" aria-expanded="false" aria-controls="multiCollapseSegundoPlato">
          Segundo Plato <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
          <div class="collapse multi-collapse" id="multiCollapseSegundoPlato">
            <div class="card card-body bg-secondary">
              <!-- Tabla interior -->
              <table class="table table-dark table-hover">
                <tr class="colum bg-dark">
                  <th></th>
                  <th>Nombre</th>
                  <th>Selección</th>
                </tr>
                <tr class="colum bg-secondary" *ngFor="let plato of platos">
                  <td *ngIf="plato.categoria.id == 3"><img src="../../assets/imagenes/imagen1.jpg" width="50px" height="50px"></td>
                  <td *ngIf="plato.categoria.id == 3">{{plato.nombre}}</td>
                  <td *ngIf="plato.categoria.id == 3">
                    <input class="form-check-input" [(ngModel)]="formCheckbox[plato.id-1]" (ngModelChange)="addPlato(plato)" type="checkbox" value="{{plato.nombre}}">
                  </td>
                </tr>
              </table>
            </div>
          </div>
      </tr>
      <!-- Postre -->
      <tr>
        <a class="btn btn-dark d-flex" data-bs-toggle="collapse" href="#multiCollapsePostre" role="button" aria-expanded="false" aria-controls="multiCollapsePostre">
          Postre <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
          <div class="collapse multi-collapse" id="multiCollapsePostre">
            <div class="card card-body bg-secondary">
              <!-- Tabla interior -->
              <table class="table table-dark table-hover">
                <tr class="colum bg-dark">
                  <th></th>
                  <th>Nombre</th>
                  <th>Selección</th>
                </tr>
                <tr class="colum bg-secondary" *ngFor="let plato of platos">
                  <td *ngIf="plato.categoria.id == 4"><img src="../../assets/imagenes/imagen1.jpg" width="50px" height="50px"></td>
                  <td *ngIf="plato.categoria.id == 4">{{plato.nombre}}</td>
                  <td *ngIf="plato.categoria.id == 4">
                    <input class="form-check-input" [(ngModel)]="formCheckbox[plato.id-1]" (ngModelChange)="addPlato(plato)" type="checkbox" value="{{plato.nombre}}">
                  </td>
                </tr>
              </table>
            </div>
          </div>
      </tr>
    </tbody>
  </table>

  <!-- Recogida de datos -->

  <table class="tabla-ext2 table table-dark w-25">
    <thead>
      <tr>
        <th>Categorías</th>
        <th>Nº Platos seleccionados</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Entrante</th>
        <td class="text-center">{{formContador["Entrante"]}}</td>
      </tr>
      <tr>
        <th>Primer plato</th>
        <td class="text-center">{{formContador["Primer_Plato"]}}</td>
      </tr>
      <tr>
        <th>Segundo plato</th>
        <td class="text-center">{{formContador["Segundo_Plato"]}}</td>
      </tr>
      <tr>
        <th>Postre</th>
        <td class="text-center">{{formContador["Postre"]}}</td>
      </tr>
      <tr>
        <td colspan="2">
          <button (click)="enviarDatos()" class="boton btn btn-success w-100">Enviar datos</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container mt-5" *ngIf="peticionEnviada">
  <h4>Orden creada correctamente</h4>
  <button [routerLink]="['/']"  class="btn btn-success mt-3">Volver</button>
</div>
