<h2>Elige tu orden</h2>

<!-- Tabla exterior izquierda -->

<div class="container-fluid h-100 d-flex align-items-start">
  <table class="tabla-ext table table-dark table-hover w-50 mx-left">
    <!-- Titulo -->
    <thead>
      <tr class="tit">
        <th colspan="4">Elige tus platos</th>
      </tr>
    </thead>
    <!-- Entrante -->
    <tbody>
      <tr>
        <a class="btn btn-dark d-flex" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
          Entrante <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body bg-secondary">
              <!-- Tabla interior -->
              <table class="table table-dark">
                <tr class="colum bg-dark">
                  <th></th>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Selección</th>
                </tr>
                <tr class="colum bg-secondary" *ngFor="let plato of platos">
                  <td *ngIf="plato.categoria.id == 1"><img src="../../assets/imagenes/imagen1.jpg" width="50px" height="50px"></td>
                  <td *ngIf="plato.categoria.id == 1">{{plato.nombre}}</td>
                  <td *ngIf="plato.categoria.id == 1">
                    <select class="form-select text-light" aria-label="Default select example">
                      <option selected>1</option>
                      <option value="1">2</option>
                      <option value="2">3</option>
                      <option value="4">4</option>
                    </select>
                  </td>
                  <td *ngIf="plato.categoria.id == 1">
                    <input class="form-check-input" type="checkbox" value="">
                  </td>
                </tr>
              </table>
          </div>
          </div>
      </tr>
      <!-- Primer plato -->
      <tr>
        <a class="btn btn-dark d-flex" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
          Primer plato <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body bg-secondary">
              <!-- Tabla interior -->
              <table class="table table-dark table-hover">
                <tr class="colum bg-dark">
                  <th></th>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Selección</th>
                </tr>
                <tr class="colum bg-secondary" *ngFor="let plato of platos">
                  <td *ngIf="plato.categoria.id == 1"><img src="../../assets/imagenes/imagen1.jpg" width="50px" height="50px"></td>
                  <td *ngIf="plato.categoria.id == 1">{{plato.nombre}}</td>
                  <td *ngIf="plato.categoria.id == 1">
                    <select class="form-select text-light" aria-label="Default select example">
                      <option selected>1</option>
                      <option value="1">2</option>
                      <option value="2">3</option>
                      <option value="4">4</option>
                    </select>
                  </td>
                  <td  *ngIf="plato.categoria.id == 1">
                    <input class="form-check-input" type="checkbox" value="">
                  </td>
                </tr>
              </table>
            </div>
          </div>
      </tr>
      <!-- Segundo plato -->
      <tr>
        <a class="btn btn-dark d-flex" data-bs-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
          Segundo Plato <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
          <div class="collapse multi-collapse" id="multiCollapseExample3">
            <div class="card card-body bg-secondary">
              <!-- Tabla interior -->
              <table class="table table-dark table-hover">
                <tr class="colum bg-dark">
                  <th></th>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Selección</th>
                </tr>
                <tr class="colum bg-secondary" *ngFor="let plato of platos">
                  <td *ngIf="plato.categoria.id == 1"><img src="../../assets/imagenes/imagen1.jpg" width="50px" height="50px"></td>
                  <td *ngIf="plato.categoria.id == 1">{{plato.nombre}}</td>
                  <td *ngIf="plato.categoria.id == 1">
                    <select class="form-select text-light" aria-label="Default select example">
                      <option selected>1</option>
                      <option value="1">2</option>
                      <option value="2">3</option>
                      <option value="4">4</option>
                    </select>
                  </td>
                  <td *ngIf="plato.categoria.id == 1">
                    <input class="form-check-input" type="checkbox" value="">
                  </td>
                </tr>
              </table>
            </div>
          </div>
      </tr>
      <!-- Postre -->
      <tr>
        <a class="btn btn-dark d-flex" data-bs-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
          Postre <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
          <div class="collapse multi-collapse" id="multiCollapseExample4">
            <div class="card card-body bg-secondary">
              <!-- Tabla interior -->
              <table class="table table-dark table-hover">
                <tr class="colum bg-dark">
                  <th></th>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Selección</th>
                </tr>
                <tr class="colum bg-secondary" *ngFor="let plato of platos" [formGroup]="form">
                  <td *ngIf="plato.categoria.id == 1"><img src="../../assets/imagenes/imagen1.jpg" width="50px" height="50px"></td>
                  <td *ngIf="plato.categoria.id == 1">{{plato.nombre}}</td>
                  <td *ngIf="plato.categoria.id == 1">
                    <select class="form-select text-light" aria-label="Default select example">
                      <option selected>1</option>
                      <option value="1">2</option>
                      <option value="2">3</option>
                      <option value="4">4</option>
                    </select>
                  </td>
                  <td *ngIf="plato.categoria.id == 1">
                    <input class="form-check-input" type="checkbox" value="{{plato}}"
                    formArrayName="platosSelecteds" formControlName="{{plato.categoria.nombre}}" (change)="onCheckboxChange($event)">
                  </td>
                </tr>
              </table>
            </div>
          </div>
      </tr>
    </tbody>
  </table>

  <!-- Recogida de datos -->

  <table class="tabla-ext2 table table-dark w-25 d-block">
    <thead>
      <tr>
        <th>Categorías</th>
        <th>Platos seleccionados</th>
      </tr>
    </thead>
    <tbody>
      <tr [formGroup]="form">
        <th>Entrante</th>
        <td>{{form.value | json}}</td>
      </tr>
      <tr [formGroup]="form">
        <th>Primer plato</th>
        <td>{{form.value | json}}</td>
      </tr>
      <tr [formGroup]="form">
        <th>Segundo plato</th>
        <td>{{form.value | json}}</td>
      </tr>
      <tr [formGroup]="form">
        <th>Postre</th>
        <td>{{form.value | json}}</td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="boton btn btn-success w-100">Enviar datos</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
