h2 {
  margin-top: 100px;
  text-align: center;
}

.tit {
  text-align: center;
}

.colum {
  border: 1px solid black;
  text-align: center;
}

i {
  margin-left: 5px;
}

.boton {
  text-align: center;
}
