<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container container-fluid">
    <b class="navbar-brand"><img src="../assets/imagenes/icono.png" width="150px"></b>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/orden']">Nueva Orden</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/orden/list']">Ver Ordenes</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/alergias']">Alergias</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/users']">Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/platos']">Platos</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/roles']">Roles</a>
        </li>
        <li class="nav-item ms-lg-5">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile']">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/login']">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
