<h1>Platos</h1>
<div class="container mt-5">
  <div class="row">
    <div class="col mx-auto table-responsive">
      <table *ngIf="peticionPlatos else espera" class="table table-striped table-dark">
        <thead>
          <tr class="align-middle">
            <th class="text-center px-5">#</th>
            <th>Nombre</th>
            <th>Foto</th>
            <th>Categoria</th>
            <th class="text-center"><button [routerLink]="['/platos/add']" class="btn btn-primary"><i class="fas fa-plus"></i></button></th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-middle" *ngFor="let plato of platos">
            <th class="text-center px-5">{{plato.id}}</th>
            <td>{{plato.nombre}}</td>
            <td>{{plato.foto}}</td>
            <td>{{plato.categoria.nombre}}</td>
            <td class="d-flex flex-row justify-content-center w-100"><button [routerLink]="['/platos', plato.id]" class="btn btn-success me-5"><i class="fas fa-edit"></i></button><button (click)="eliminar(plato.id)" class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
          </tr>
          <tr *ngIf="peticionPlatos && platos == null">
            <th colspan="3">No hay datos</th>
          </tr>
        </tbody>
      </table>
      <ng-template #espera>Esperando datos...</ng-template>
    </div>
  </div>
</div>
