<main>
  <header>Perfil Usuario</header>
  <section>
    <form  *ngIf="!agregado">
    <p>Datos Usuario</p>
      <div class="form-group">
        <label for="name">Id :</label>
        <input
          type="text"
          class="form-control"
          id="id"
          value="{{ usuario.id }}"
        />
      </div>
      <div class="form-group">
        <label for="name">Nombre :</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          value="{{ usuario.usuario }}"
        />
      </div>
      <div class="form-group">
        <label for="email">Email :</label>
        <input
          type="text"
          class="form-control"
          id="email"
          value="{{ usuario.email }}"
        />
      </div>
      <div class="form-group">
        <label for="alergias">Alergias conocidas :</label>
      </div>

      <table>
        <tr>
          <td>Nombre</td>
          <td>Id</td>
        </tr>
        <tr *ngFor="let alergia of alergias">
          <td *ngIf="alergia.id == 1"> {{ alergia.id }}
            <input class="form-check-input" [(ngModel)]="checkbox[alergia.id-1]" (ngModelChange)="almacenaAlergias(alergia)" type="checkbox" value="{{alergia.id}}">
          </td>
        </tr>
      </table>



      <div class="form-group">
        <button
          type="button"
          class="btn btn-primary"
          (click)="guardaNuevoRegistro()"
        >
          Enviar
        </button>
      </div>
   </form>

    <div *ngIf="agregado">
      <button class="btn btn-success" (click)="nuevoValor()"></button>
    </div>

  </section>
</main>
